{% extends 'tienda/base.html' %}
{% load static %}
{% load formatos %}

{% block title %}{{ producto.nombre }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detalle.css' %}">
{% endblock %}

{% block content %}

<section class="container py-5">

<div class="product-box">

<div class="row align-items-center g-5">

<div class="gallery-box">

    {% if producto.imagen %}
    <img id="imagenPrincipal" src="{{ producto.imagen.url }}" class="product-img main-gallery-img">
    {% endif %}

    <div class="thumbs-box">

        {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" class="thumb-img active-thumb" onclick="cambiarImagen(this)">
        {% endif %}

        {% if producto.imagen_2 %}
        <img src="{{ producto.imagen_2.url }}" class="thumb-img" onclick="cambiarImagen(this)">
        {% endif %}

        {% if producto.imagen_3 %}
        <img src="{{ producto.imagen_3.url }}" class="thumb-img" onclick="cambiarImagen(this)">
        {% endif %}

    </div>

</div>

<div class="col-md-6">

{% if producto.en_oferta %}
<div class="badge-sale">🔥 OFERTA</div>
{% endif %}

<p class="text-muted mb-2">{{ producto.categoria }}</p>

<h1 class="fw-bold mb-3">{{ producto.nombre }}</h1>

<div class="descripcion-box mb-4">
<h5 class="fw-bold mb-3">Lo que tenés que saber de este producto</h5>
<p class="mb-0">{{ producto.descripcion|linebreaksbr }}</p>
</div>

<!-- <div class="precio-detalle mb-3">
$ {{ producto.precio|precio_ar }}
</div> -->

<p class="text-muted">Precio a consultar</p>

{% if producto.mostrar_cuotas %}
<div class="cuotas-box mb-4">
<p class="mb-2">
💳 12 cuotas de <strong>$ {% widthratio producto.precio 12 1 %}</strong>
</p>
<p class="mb-0">
💳 6 cuotas de <strong>$ {% widthratio producto.precio 6 1 %}</strong>
</p>
</div>
{% endif %}

<p class="mb-4">📦 Stock disponible: {{ producto.stock }}</p>

<div class="confianza-box mb-4">

<div class="confianza-item">
<span>🚚</span>
<div>
<strong>Envío a domicilio</strong>
<p>Consultá disponibilidad según tu zona.</p>
</div>
</div>

<div class="confianza-item">
<span>✔</span>
<div>
<strong>Retiro por el local</strong>
<p>Podés coordinar retiro directamente por WhatsApp.</p>
</div>
</div>

<div class="confianza-item">
<span>✔</span>
<div>
<strong>Atención personalizada</strong>
<p>Te asesoramos antes de comprar.</p>
</div>
</div>

<div class="confianza-item">
<span>✔</span>
<div>
<strong>Stock actualizado</strong>
<p>Confirmamos disponibilidad al momento de la consulta.</p>
</div>
</div>

</div>

<a href="https://wa.me/542664158982?text=Hola! 👋 Estoy viendo su página web y me interesa el producto {{ producto.nombre }}. ¿Me podrías pasar el precio y más información? Muchas gracias 😊"
class="btn btn-wa w-100 mb-3">
Consultar por WhatsApp
</a>

<a href="/catalogo/" class="btn btn-outline-dark w-100 rounded-pill">
Volver al catálogo
</a>

</div>
</div>
</div>

</section>

<section class="container pb-5">

<h3 class="mb-4 fw-bold">Productos Relacionados</h3>

<div id="relacionadosCarousel" class="carousel slide" data-bs-ride="carousel">

<div class="carousel-inner">

{% for item in relacionados %}

<div class="carousel-item {% if forloop.first %}active{% endif %}">

<div class="rel-card">

{% if item.imagen %}
<img src="{{ item.imagen.url }}" style="height:320px; width:100%; object-fit:cover;">
{% endif %}

<div class="card-body text-center p-4">

<h4 class="fw-bold">{{ item.nombre }}</h4>

<p class="text-muted">{{ item.categoria }}</p>


<a href="/producto/{{ item.id }}/"
class="btn btn-dark rounded-pill px-4 mt-2">
Ver producto
</a>

</div>

</div>

</div>

{% endfor %}

</div>

<button class="carousel-control-prev" type="button" data-bs-target="#relacionadosCarousel" data-bs-slide="prev">
<span class="carousel-control-prev-icon bg-dark rounded-circle p-3"></span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#relacionadosCarousel" data-bs-slide="next">
<span class="carousel-control-next-icon bg-dark rounded-circle p-3"></span>
</button>

</div>

</section>

{% endblock %}

{% block extra_js %}
<script>
function cambiarImagen(elemento){
    const principal = document.getElementById("imagenPrincipal");
    principal.src = elemento.src;

    document.querySelectorAll(".thumb-img").forEach(img => {
        img.classList.remove("active-thumb");
    });

    elemento.classList.add("active-thumb");
}
</script>
{% endblock %}